.tafkaem {

  border-radius: 10px;
  left: 500px;
  top: 151px;
  width: 200px;
  height: 200px;
  background-color: #4BF9FF;
  box-shadow: 0px 0px 5px red;
  padding: 30px;
  margin: 0 auto;
  text-align: center;
  transform: rotate3d(0,0,1,45deg);
}