.theartistformerlyknownaselmariachi {

  border-radius: 3px;
  left: 157px;
  top: 372px;
  height:350px;
  background-color: #E84745;

  box-shadow: 3px 3px 5px black;
  padding:10px; 

  text-align: center;
  color: white;

  background-image: linear-gradient(#E84745, darken(#E84745, 30%));
  
}