.elmariachi111 {
    left: 10%;
    top: 15%;

    padding: .5rem;
    background-color: #FBD549;
    border-radius: 10px;

    //transform: rotate3d(0,1,1,1deg);
    box-shadow: 0rem 0rem 5rem;

    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    transition: background-color .4s, left 1s;

    &.zaxis {
        animation-name: elmariachi111-zaxis;
    }
    &.yaxis {
        background-color: #079D04;
        animation-name: elmariachi111-yaxis;
    }
    .profile-img {
        background-image: url('stefan.jpg');
        background-size: cover;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }
    .rate {
        margin:0 auto;
        position: relative;
    }
}

.bazoo {
    position: absolute;
    top: 40px;
    left: 400px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 75px;
    border-color: red blue green orange;
    transition-property: transform;
    transition-duration: 1s;

    &:hover {
        animation-name: bazoo-rotate;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

@keyframes bazoo-rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes elmariachi111-zaxis {
    0%   {transform: rotate3d(0,0,-1,3deg);}
    100% {transform: rotate3d(0,0,1,3deg); }
}

@keyframes elmariachi111-yaxis {
    0%   {transform: rotate3d(0,-1,0,30deg); }
    100% {transform: rotate3d(0,1,0,30deg); }
}
