<div class="">
    <div class="profile-img"></div>
    <span class="name">{{ name }}'s card</span> <br/>
    <span class="rate">
        1BTC = {{ bitcoin.bpi.EUR.rate }} {{{ bitcoin.bpi.EUR.symbol }}}
        <a href="#" rel="refresh">refresh</a>
    </span>
</div>
