//@import "custom";
@import "~bootstrap/scss/bootstrap-reboot";

body > .container {
    position: absolute;    
    width: 100%;
    height: 100%;
    padding: 10px;

    background-color: #666;
    
    .watermark {
        position: absolute;
        width: 480px;
        height: 75px;
        right: 10px;
        bottom: 10px;

        background-image: url('res/coding-berlin.png');
        background-size: contain;
    }
}

#canvas {
    background-image: url('res/skulls.png');
    
    width: 100%;
    height: 100%;

    .card {
        position: absolute;
        width: 20rem;
        height: 12rem;
    }
}