.bazoo {
  position: absolute;
  top: 40px;
  right: 200px;
  width: 0;
  height: 0;
  background-color: #4BF9FF;
  border-style: solid;
  border-width: 75px;
  border-color: red blue green orange;
  transition-property: transform;
  transition-duration: 1s;

  &:hover {
      animation-name: bazoo-rotate;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
  }
}

@keyframes bazoo-rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
